/* Your app styles here */

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}


/* Your app styles here */
.roundImage {
  border-radius: 50%;
}
.profileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.fullWidth {
  width: 100%;
}
.message-sent .message-bubble {
  color: #fff;
  background: #4cd964;
}

.noInternetP {
  text-align: center;
  font-size: 21px;
  color: #9a9a9a;
}
.block.passcode-input {
  position: relative;
  z-index: 5;
}
.block.passcode-numpad {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  max-width: none;
  z-index: 10;
}
.input-focused {
  border-bottom: #4cd964;
}
#demo-numpad-inline {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  display: block;
  padding: 0 0 0 5px;
  margin: 0;
  width: 100%;
  height: 43px;
  color: #000;
  font-size: 17px;
  font-family: inherit;
  letter-spacing: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.demo-numpad-inline {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  display: block;
  padding: 0 0 0 5px;
  margin: 0;
  width: 100%;
  height: 43px;
  color: #000;
  font-size: 17px;
  font-family: inherit;
  letter-spacing: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
.demo-lazy {
  background: #aaa;
  background-size: cover;
  height: 60vw;
}
